
<div class="container">
    <h1 class="text-center">Generic Graph Example</h1>
    
    <div class="input-group">
        <span class="input-group-addon">X-Attribute</span>
        <select name="x-attrib" class="form-control" ng-model="graphData.xAttrib" ng-options="attribute.name for attribute in schema">
        </select>    
    </div>
    
    <br>
    
    <div class="input-group">
        <span class="input-group-addon">Y-Attribute</span>
        <select name="y-attrib" class="form-control" ng-model="graphData.yAttrib" ng-options="attribute.name for attribute in schema">
        </select>
    </div>
    
    <br>

    <div class="input-group">
        <span class="input-group-addon">Clusters</span>
        <input type="text" ng-model="graphData.kNumber">
    </div>
    
    <br>

    <div class="btn btn-primary" ng-click="analyzeClicked();" ng-disabled="graphData.callData.length == 0">Analyze!</div>

    <div id="generic-graph-container">
        <nvd3-scatter-chart
            data="graphData.graphData"
            class="generic-graph"
            id="genericGraph"
            width="900"
            height="900"
            x="graphData.xFunction()"
            y="graphData.yFunction()"
            showlegend="true">
            <svg></svg>
        </nvd3-scatter-chart>
    </div>
</div>
